@import "./mixins";
@import "./variables";
@import "./sidebar";
@import "./home";



// ----- RESET CSS -----
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-family: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
}

button,
a {
  color: inherit;
  cursor: pointer;
}

// ----- END of RESET CSS -----


// ----- FUNDAMENTALS -----
.App {
  @include flexCenter();
}

main {
  // border: 1px solid red;
  background-color: $primaryColor-1;
  
  position: relative;

  height: 100vh;
  padding: 50px;
  flex: 1;
  @include flexCenter();
  justify-content: flex-start;

  // z-index: -1;
}
// ----- END of FUNDAMENTALS -----


// ----- GLOBAL -----
.btn {
  background-color: $primaryColor-1;
  border: 1px solid $primaryColor-4;

  width: 150px;
  height: 40px;
  // padding: 10px 15px;

  letter-spacing: 1px;
  font-size: 12px;
  text-transform: uppercase;
  color: $primaryColor-5;

  &:hover {
    border: none;
    background-color: $secondaryColor-1;
  }

}

.btn-cta {
  background-color: $primaryColor-4;
  color: $primaryColor-1;

  &:hover {
    color: $primaryColor-5;
    background-color: $secondaryColor-1;
  }
}
// ----- END of GLOBAL -----