@import "./mixins";
@import "./variables";
@import "./sidebar";
@import "./home";



// ----- RESET CSS -----
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  font-family: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
}
// ----- END of RESET CSS -----


// ----- FUNDAMENTALS -----
.root {
  @include flexCenter();
}

main {
  border: 1px solid red;
  background-color: $primaryColor-1;
  
  position: relative;

  height: 100vh;
  padding: 50px;
  flex: 1;
  @include flexCenter();

  z-index: -1;
}
// ----- END of FUNDAMENTALS -----


// ----- GLOBAL -----
.btn {
  background-color: $primaryColor-1;
  border: none;
  border-radius: 10px;

  width: 150px;
  padding: 10px 15px;

  letter-spacing: 1px;
  font-size: 16px;

  cursor: pointer;

  &:hover {
    background-color: $primaryColor-3;
    color: $primaryColor-1
  }
}
// ----- END of GLOBAL -----